

body{
    background-color: white;
    margin: 0;
    margin-top: 13vh;
    height: 100vh;
}
.header{
    position: fixed;
    top:0;
    width:100%;
    height: 9vh;
    background-color: rgb(187, 219, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.csv_btn{
    width: 90px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: rgb(11, 0, 111);
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 6px rgba(67, 1, 138, 0.5);
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.logo{
    height:140px;
    width:140px;
}

.csv_btn_container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:300px;
   
}

form{
    all: unset;
}
