

body{
    background-color: white;
    margin: 0;
    margin-top: 13vh;
    height: 100vh;
}


.csv_btn{
    width: 90px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: rgb(11, 0, 111);
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 6px rgba(67, 1, 138, 0.5);
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.logo{
    height:160px;
    width:250px;
}

.csv_btn_container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:300px;
   
}

form{
    all: unset;
}
