html {
    height: 100%;
}

.splash-page{
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center; 

    background-attachment:fixed;
    background-size: cover;
    background: linear-gradient(to bottom, #FF7A00,#cf823a) ;
    background-repeat: no-repeat;
    padding-top:5%;
    height: 100%;
    margin:0;
   
}

.splash-page .logo-container{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 50vh;
    height:30vh;
  
}

.splash-page .logo-container img {
    max-width: 100vh;
    max-height: 100vh;
}

.splash-page .loading-container{
   
    width: 300px;
    height: 100px;
    position: relative;
    overflow: hidden;
  
}

.splash-page .ball{
    border-radius: 50%;
    background-color:white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;

}

