

.big-orange-blob{
  
    top: -10px;
    right: -10px;
    position: fixed;
    width: clamp(80px, 90vw, 750px);
  height: clamp(80px, 90vw, 750px);

}

.big-orange-blob img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.mission-statement{
 position: absolute;
 top:35%;
 right:3%;
 
font-weight: 400;
 color: white;
text-align: center;
 max-width: 40ch;
font-size: clamp(12px, 19vw, 25px);

}


.welcome-msg{
position:absolute;
top:35%;
left:10%;
color: rgb(1, 27, 3);
font-family: 'Inter', system-ui, sans-serif;
font-weight: bold;
text-align:left;
font-size:3.2vw;
/*animation part*/
opacity:0;
transform:translateY(50%);
animation: fade-up 2s ease forwards;
}

@keyframes fade-up{
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.get-started-btn{
    position:absolute;
    top:56%;
    left:19%;
    background-color: rgb(1, 27, 3);
    border-radius:8px;
    padding: 10px 10px;
    border: none;
    cursor:pointer;
    
    color:white;
    font-weight: bold;
    text-align:center;
    font-size:18px;
    /*animation part*/
    opacity:0;
    transform: translateY(50%);
    animation: fade-up 2s ease forwards;
}

.characters{
    position:fixed;
    transform: translate(-50%, -50%);
    top:75%;
    left:60%;
   
    width: clamp(50px, 140vw, 850px);
    height: clamp(50px, 140vw, 850px);
}

.characters img{
object-fit:contain;
position:absolute;
max-width:100%;
max-height:100%;
}
