

body{
    background-color: white;
    margin: 0;
    height: 100vh;
}
.header{
    position: fixed;
    top:0;
    width:100%;
    height: 9vh;
    background-color: rgb(187, 219, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*.header h1{
    text-align: left;
    color: white;
    font-family:Segoe UI, sans-serif;
    font-size:30px;
    margin: 10px 20px;
    
}*/
.logo{
    
    height:140px;
}