<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{url_for('static', filename='css/splash.css')}}">
    <title> Livvi splash screen </title>
</head>

<body>
    <div class = "logo-container">
        <img src="{{url_for('static', filename='images/livvi_logo3.png')}}" alt="Logo for splash screen">
   
    </div>    
    
    <div class = "loading-container">
        <div class = "ball"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="{{url_for('static', filename='js/splash.js')}}"></script>
</body>

</html>
