<!DOCTYPE html>
<html>
<head>
    <title> Financial star </title>
    <link rel= "preconnect" href="https://fonts.googleapis.com">
    <link rel=" preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <div class="header">
     <img src="{{url_for('static', filename='financial_star_logo.png')}}" alt="Logo" class="logo">   
     <!-- <h1>Financial Star</h1> -->
    </div>
    
    <div class="content">
         
    </div>

  
</body>
</html>    