.<!DOCTYPE html>
<html lang = "en">
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title> Welcome page</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/welcome.css')}}">
    </head>

    <body>
        

            <h1 class= "welcome-msg"> Welcome to Livvi! </h1>
            
            <a href="sign_up.html">
                <button class="get-started-btn">Get Started Now</button>
            </a>

            <div class="big-orange-blob">
                <img src = "{{url_for('static', filename='images/big-orange-blob.png')}}" alt="blob">
                <span class="mission-statement">Livvi exists to help college students
                    manage their money with confidence by turning spending data into personalized, 
                    AI-powered savings suggestions that fit their real lives.
                </span>
            </div>

            <div class="orange-blob-logo">
                <img src="{{url_for('static', filename='images/small-orange-blob.png')}}" alt="small blob" class="small-blob">
                <img src="{{url_for('static', filename='images/livvi_logo3.png')}}" alt="Logo" class="logo">  
            </div>
            

            <div class="characters">
                <img src="{{url_for('static', filename='images/characters1.png')}}" alt="characters">
            </div>
         

    </body>

</html>